R version 4.2.0 (2022-04-22 ucrt)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 22621)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.utf8  LC_CTYPE=English_United States.utf8    LC_MONETARY=English_United States.utf8
[4] LC_NUMERIC=C                           LC_TIME=English_United States.utf8    

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base     

other attached packages:
 [1] teamcolors_0.0.4 cowplot_1.1.1    gganimate_1.0.8  ggthemes_4.2.4   ggimage_0.3.1    nflfastR_4.5.0   fGarch_4022.89  
 [8] sfsmisc_1.1-13   magick_2.7.3     latex2exp_0.9.4  lme4_1.1-30      Matrix_1.5-3     igraph_1.3.5     forcats_0.5.2   
[15] stringr_1.4.1    dplyr_1.0.9      purrr_0.3.4      readr_2.1.2      tidyr_1.2.0      tibble_3.1.7     ggplot2_3.3.6   
[22] tidyverse_1.3.1 

loaded via a namespace (and not attached):
 [1] minqa_1.2.4         colorspace_2.0-3    ellipsis_0.3.2      snakecase_0.11.0    fs_1.5.2            rmutil_1.1.10      
 [7] clue_0.3-62         rstudioapi_0.13     farver_2.1.1        listenv_0.8.0       furrr_0.3.1         fastrmodels_1.0.2  
[13] statip_0.2.3        fansi_1.0.3         lubridate_1.8.0     xml2_1.3.3          codetools_0.2-18    splines_4.2.0      
[19] cachem_1.0.6        jsonlite_1.8.0      nloptr_2.0.3        broom_1.0.0         cluster_2.1.3       dbplyr_2.2.1       
[25] stabledist_0.7-1    compiler_4.2.0      httr_1.4.4          backports_1.4.1     fastmap_1.1.0       assertthat_0.2.1   
[31] cli_3.3.0           tweenr_2.0.1        prettyunits_1.1.1   tools_4.2.0         modeest_2.4.0       gtable_0.3.0       
[37] glue_1.6.2          Rcpp_1.0.8.3        cellranger_1.1.0    vctrs_0.4.1         nlme_3.1-157        progressr_0.10.1   
[43] timeDate_4021.104   globals_0.16.1      rbibutils_2.2.13    spatial_7.3-15      rvest_1.0.3         lifecycle_1.0.1    
[49] future_1.28.0       cvar_0.5            MASS_7.3-56         scales_1.2.1        timeSeries_4021.105 hms_1.1.2          
[55] parallel_4.2.0      curl_4.3.2          memoise_2.0.1       ggfun_0.0.9         yulab.utils_0.0.5   fBasics_4021.93    
[61] rpart_4.1.16        stringi_1.7.6       boot_1.3-28         stable_1.1.6        Rdpack_2.4          rlang_1.0.4        
[67] pkgconfig_2.0.3     lattice_0.20-45     tidyselect_1.1.2    parallelly_1.32.1   magrittr_2.0.3      R6_2.5.1           
[73] generics_0.1.3      DBI_1.1.3           pillar_1.8.1        haven_2.5.1         withr_2.5.0         mgcv_1.8-40        
[79] nflreadr_1.3.1      janitor_2.1.0       modelr_0.1.9        crayon_1.5.1        xgboost_1.6.0.1     utf8_1.2.2         
[85] tzdb_0.3.0          progress_1.2.2      grid_4.2.0          readxl_1.4.0        data.table_1.14.2   reprex_2.0.2       
[91] digest_0.6.29       gridGraphics_0.5-1  munsell_0.5.0       ggplotify_0.1.0     gbutils_0.5        
